:root {
  --normal-font-family: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

h2 {
  color: #172b4d;
  font-family: 'Inter', sans-serif;
}

/* layout for smaller screens. breakpoint: 375px */
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.toolbar {
  display: flex;
  flex-direction: column;
  height: 44px;
  z-index: 20;
}

/* header section for mobile version */
.logo-hamburger {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 44px;
  background: #fff;
  position: fixed;
}

.desk-navbar {
  display: none;
}

.hamburger {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  padding: 8px;
  right: 24px;
  background: none;
  margin-top: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  appearance: none;
}

.bar1,
.bar2,
.bar3 {
  width: 100%;
  height: 3px;
  margin: 5px 0;
  background: #000;
  border-radius: 4px;
  transition: 0.2s;
}

.menudrop {
  display: none;
  background: #fff;
  max-width: 768px;
  min-width: 375px;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;
}

.menu-outline {
  display: none;
  position: fixed;
  background: #fff;
  min-width: 375px;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 12px;
  z-index: 99;
  transition: 0.2s;
}

.main-Menu {
  list-style-type: none;
  padding: 92px 96px 0 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menuItem {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #3a4a42;
  display: block;
}

#closebtn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 8px;
  right: 24px;
  background: none;
  margin-top: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  appearance: none;
}

.bar11,
.bar22 {
  width: 100%;
  height: 2px;
  margin: 5px 0;
  background: gray;
  border-radius: 4px;
  transition: 0.2s;
}

.bar11 {
  transform: rotate(45deg) translate(0, 4.5px);
}

.bar22 {
  transform: rotate(-45deg) translate(0, -5.6px);
}

/* logo-hamburger section */
.logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #172b4d;
  left: 14px;
  border: 1px solid #36b37e;
  border-radius: 50%;
  margin-top: 4px;
  transition: 0.9s ease-in-out;
}

.main-background {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

div#main-head-part {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* section 2: headline */
.headline {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: url("./media/backgroundfill.png");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  padding: 0 1.4rem;
}

.text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  text-align: center;
}

/* primary text */
.primary {
  line-height: 52px;
  color: #172b4d;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7rem;
}

h1 {
  font-size: 2.6rem;
  color: #172b4d;
}

#green {
  color: #36b37e;
  font-size: 2.2rem;
}

/* secondary text */
.secondary {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 1rem;
}

/* socials */
.socials {
  width: 100%;
  height: 19.62px;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.socials ul {
  position: absolute;
  width: 170.17px;
  height: 19.62px;
  display: flex;
  justify-content: space-between;
}

.socials li {
  list-style-type: none;
  display: flex;
}

.social-item {
  width: 20px;
  height: 20px;
  top: 8.96%;
  bottom: 90.73%;
  transition: 0.2s ease-in-out;
}

.down-action {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
}

main#main-works {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* works section */
.works {
  width: 100%;
  height: 100%;
  padding: 64px 24px;
}

.works-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works-title {
  width: 100%;
  height: 125px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.works-title hr {
  width: 48px;
  height: 4px;
  border-radius: 24px;
  background: #36b37e;
  order: 1;
  margin: 0 auto 1rem;
}

.works-grid {
  display: grid;
  grid-template-rows: 474px 474px 474px 474px 474px 474px;
  width: 100%;
  height: 100%;
  padding: 4px 2px;
  gap: 32px;
}

.works-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-img {
  width: 100%;
  height: 100%;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.card-detail {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  width: 100%;
  height: 222px;
  background: #fff;
  border-radius: 8px;
}

.card-main {
  width: 100%;
  height: 57px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}

.lang-list {
  width: 100%;
  height: 100%;
}

.lang-list ul {
  width: 100%;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.lang-list li {
  list-style-type: none;
  display: flex;
  padding: 8px 10px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
}

.lang-list a {
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.card-button {
  width: 100%;
  display: flex;
  height: 69px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#seeproject {
  width: 122px;
  height: 48px;
  padding: 14px;
  background: #36b37f;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  border: none;
  outline: none;
  font-size: 17px;
  cursor: pointer;
}

/* about me section */
.about-me {
  width: 100%;
  height: 100%;
  background: url('./media/aboutme-mobile-top.svg');
  background-size: 68px 127px;
  background-position: right top;
  background-repeat: no-repeat;
}

.aboutme-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
}

.aboutme-title {
  width: 100%;
  height: 338px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background: url('./media/aboutme-mobile.png');
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.aboutme-text {
  width: 100%;
  height: 194px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  order: 1;
}

.aboutme-title a {
  width: 153px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  order: 2;
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutme-grid {
  width: 100%;
  height: 100%;
}

.aboutmeoutline {
  width: 100%;
  display: grid;
  grid-template-rows: 31.3% 31.3% 31.3%;
  gap: 24px;
}

.aboutitem {
  list-style-type: none;
  width: 100%;
  height: 100%;
  background: #ebf0ee;
  border: 3px solid #c1c7d0;
  border-radius: 8px;
  transition: 0.5s ease-out;
}

.aboutme-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-head {
  width: 100%;
  height: 40%;
}

.item-head img {
  width: 100%;
  height: 100%;
}

.aboutme-head {
  width: 100%;
  height: 128px;
}

.title-tags {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.title-tags h4 {
  height: 32px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.tags {
  width: 278px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tags ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin: 1rem 0;
}

.tags li {
  list-style-type: none;
  padding: 12px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  color: #36b37e;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.skills {
  width: 293px;
  height: 88px;
}

/* contact me section */
.contact-me {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 64px 24px;
  gap: 38px;
  background: url('./media/illustration-contact-form.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.contactme-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  color: #172b4d;
  margin: 1rem 0;
}

.cont-text {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  text-align: center;
  font-size: 40px;
}

.form-outline {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

::placeholder {
  width: 295px;
  height: 18px;
  position: absolute;
  top: 15px;
  left: 16px;
  font-weight: 400;
  font-size: 15px;
  color: #6b778c;
  font-family: 'Inter', sans-serif;
  font-style: italic;
}

input {
  width: 327px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #6b778c;
  transition: width 0.7s;
}

textarea {
  width: 327px;
  height: 114px;
  border: 1px solid #36b37f;
  border-radius: 4px;
}

textarea::placeholder {
  width: 303px;
  height: 90px;
  position: absolute;
  left: 12px;
  top: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #42526e;
}

#submitbutton {
  width: 129px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  flex: none;
  order: 3;
  border: none;
  color: #fff;
  font-size: 17px;
  text-align: center;
  transition: 0.25s;
}

.email-div {
  width: 100%;
  height: 38px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

/* footer section */
.footerbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socials {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-socials ul {
  width: 170.17px;
  height: 19.62px;
  display: flex;
  justify-content: space-between;
}

.footer-socials li {
  list-style-type: none;
}

.sentence-break {
  display: none;
}

/* animations and transitions */
.logo:hover {
  transform: rotate(360deg);
}

.social-item:hover {
  transform: scale(1.3);
}

.down-action a:hover,
.down-action a:focus {
  box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
  border-radius: 50%;
}

.card-img:hover {
  transform: scale(1.1);
  box-shadow: rgba(54, 179, 127, 0.4) -5px 5px, rgba(54, 179, 127, 0.3) -10px 10px, rgba(54, 179, 127, 0.2) -15px 15px;
}

.resume:hover {
  border: 2px solid #172b4d;
  transform: scale(1.2);
}

input:hover {
  width: 100%;
  border-bottom: 2px solid #172b4d;
}

.aboutitem:hover {
  border-color: #36b37e;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

#submitbutton:hover {
  box-shadow: inset 7.5em 0 0 0 #fff;
  color: #36b37e;
  border: 2px solid #36b37e;
  font-size: 20px;
}

/* popup window styles */
.popupOutline {
  background: #c1c7d0;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 98;
}

.pop-window {
  border-radius: 8px;
  background-color: white;
  width: 85%;
  height: 92%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  position: absolute;
  overflow-y: scroll;
  transform: translate(-50%, -50%);
  transition: 0.2s ease-in-out;
  z-index: 99;
  gap: 12px;
}

.imagepart,
.listpart,
.descriptionpart {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mobileimage {
  width: 100%;
}

.headingpart h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.listpart {
  display: flex;
  align-items: flex-start;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  letter-spacing: 0.03em;
}

.mobilelist,
.desklist {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  gap: 10px;
  padding: 0;
}

.mobilelist li,
.desklist li {
  display: flex;
  justify-content: center;
  background: #ebf0ee;
  padding: 8px 12px;
  border-radius: 4px;
}

.descriptionpart {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.live-source-btns,
.desk-live-source-btns {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 12px;
}

.seelive,
.seesource {
  background: #36b37f;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding: 12px;
  text-decoration: none;
  display: flex;
  width: 146px;
}

.winclosebtn {
  right: 26px;
  position: absolute;
  top: 17px;
}

.close-cross-btn {
  font-size: 36px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  appearance: none;
  color: #000;
}

.deskimg,
.desklist,
.deskdesc,
.desk-live-source-btns {
  display: none;
}

/* form validation highlight */
.error.inaction::after {
  content: '*';
  color: red;
}

.error.inaction {
  font-weight: 400;
  line-height: 24px;
  color: #172b4d;
}

.highlight {
  border: 2px solid red;
}

.input:hover .highlight {
  border-bottom: 2px solid red;
}

.cardtile-img {
  width: 100%;
  height: 52%;
  border-radius: 8px;
}

/* breakpoint at 768px */
@media (min-width: 768px) {
  .main-background {
    background: url('./desktopMedia/Header-llustration-desktop.svg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .logo-hamburger {
    display: none;
  }

  .toolbar {
    width: 100%;
    height: 72px;
    position: fixed;
    display: flex;
    justify-content: center;
  }

  .desk-headline {
    margin-top: 72px;
  }

  .desk-navbar {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    background: transparent;
  }

  .menu-close {
    display: none;
  }

  .main-Menu {
    display: none;
  }

  .navbarlist {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 255px;
    height: 40px;
    position: absolute;
    top: 16px;
  }

  .navbarlist li {
    padding: 10px 12px;
    gap: 10px;
    height: 40px;
    transition: all 0.4s ease-out;
  }

  .navbarlist li a {
    text-decoration: none;
    font-family: var(--normal-font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .headline {
    margin-top: 72px;
    background: none;
    gap: 2rem;
  }

  .secondary {
    width: 51.5%;
    text-align: center;
  }

  .socials {
    margin-bottom: 3rem;
  }

  .down-action {
    margin-bottom: 3rem;
  }

  .works-container {
    margin-top: 2rem;
  }

  .works-grid {
    grid-template-columns: 27% 27% 27%;
    grid-template-rows: 475px 475px;
    gap: 48px;
    justify-content: center;
    order: 1;
  }

  .card-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cardtile-img {
    width: 96%;
  }

  .aboutme-title h2,
  .works-title h2 {
    font-size: 2.4rem;
  }

  .aboutme-text {
    width: 78%;
    height: 96px;
  }

  .aboutme-grid {
    padding: 2rem 4rem;
  }

  .aboutmeoutline {
    grid-template-rows: 100%;
    grid-template-columns: 31.3% 31.3% 31.3%;
  }

  .contact-me {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 6rem;
  }

  .contactme-text,
  .form-outline {
    flex: 46%;
  }

  .cont-text {
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: 700;
    line-height: 52px;
    display: flex;
    align-items: center;
  }

  input,
  textarea {
    width: 100%;
  }

  .pop-window {
    padding: 0.5rem 1.4rem 1rem 1.4rem;
    width: 66%;
    height: 80%;
  }

  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background: #36b37e;
  }

  .winclosebtn {
    background: #ebecf0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    border-radius: 8px;
    position: static;
    margin-bottom: 10px;
    margin-left: auto;
  }

  .close-cross-btn {
    color: #67798e;
  }
}
