:root {
  --normal-font-family: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

h2 {
  color: #172b4d;
  font-family: 'Inter', sans-serif;
}

/* layout for smaller screens. breakpoint: 375px */
.wrapper {
  width: 375px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.toolbar {
  display: flex;
  flex-direction: column;
  height: 44px;
  position: fixed;
  z-index: 999;
}

/* header section for mobile version */
.logo-hamburger {
  display: flex;
  justify-content: space-between;
  width: 375px;
  height: 44px;
  background: #fff;
}

/* header section for desktop version */
.desk-navbar {
  display: none;
}

/* logo-hamburger section */
.logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #172b4d;
  left: 14px;
  border: 1px solid #36b37e;
  border-radius: 50%;
  margin-top: 4px;
  transition: 0.9s ease-in-out;
}

.hamburger {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 8px;
  right: 24px;
}

/* section 2: headline */
.headline {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 44px;
  width: 375px;
  height: 100%;
  background: url("./media/backgroundfill.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.text {
  position: absolute;
  width: 327px;
  left: 27px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  text-align: center;
}

/* primary text */
.primary {
  top: 90px;
  height: 211px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 40px;
  color: #172b4d;
}

#green {
  color: #36b37e;
  font-size: 38px;
}

/* secondary text */
.secondary {
  top: 310px;
  height: 164px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

/* socials */
.socials {
  width: 327px;
  height: 19.62px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 500.89px;
  left: 27px;
}

.socials ul {
  position: absolute;
  width: 170.17px;
  height: 19.62px;
  display: flex;
  justify-content: space-between;
}

.socials li {
  list-style-type: none;
  display: flex;
}

.social-item {
  width: 20px;
  height: 20px;
  top: 8.96%;
  bottom: 90.73%;
  transition: 0.2s ease-in-out;
}

.down-action {
  width: 327px;
  height: 48px;
  position: absolute;
  top: 665px;
  display: flex;
  justify-content: center;
  left: 27px;
}

/* works section */
.works {
  position: absolute;
  width: 375px;
  height: 3283px;
  top: 708px;
  padding: 64px 24px;
}

.works-container {
  width: 327px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works-title {
  width: 327px;
  height: 125px;
  position: absolute;
  top: 64px;
  left: 26px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.works-title hr {
  position: absolute;
  width: 48px;
  height: 4px;
  top: 121px;
  left: 139.5px;
  border-radius: 24px;
  background: #36b37e;
  order: 1;
}

.works-grid {
  display: grid;
  grid-template-rows: 474px 474px 474px 474px 474px 474px;
  width: 331px;
  height: 2972px;
  padding: 4px 2px;
  gap: 32px;
  position: absolute;
  top: 226px;
}

.works-item {
  width: 327px;
  display: flex;
}

.card-img {
  width: 327px;
  height: 474px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  position: absolute;
}

.card-detail {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  width: 325px;
  height: 222px;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  bottom: 0;
}

.card-main {
  width: 295px;
  height: 57px;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}

.lang-list ul {
  position: absolute;
  left: 0;
  width: 327px;
  height: 32px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lang-list li {
  list-style-type: none;
  display: flex;
  padding: 8px 12px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
}

.lang-list a {
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.card-button {
  width: 305px;
  height: 69px;
  position: absolute;
  top: 137px;
  left: 11px;
}

.card-button a {
  width: 122px;
  height: 48px;
  position: absolute;
  top: 13px;
  left: 92px;
  padding: 14px;
  gap: 10px;
  bottom: 8px;
  background: #36b37f;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}

/* about me section */
.about-me {
  width: 375px;
  height: 100%;
  position: absolute;
  top: 3927px;
  background: url('./media/aboutme-mobile-top.svg');
  background-size: 68px 127px;
  background-position: right top;
  background-repeat: no-repeat;
}

.aboutme-container {
  width: 375px;
  height: 1522px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
}

.aboutme-title {
  width: 351px;
  height: 338px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: absolute;
  top: 64px;
  left: 12px;
  background: url('./media/aboutme-mobile.png');
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.aboutme-text {
  width: 351px;
  height: 194px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  order: 1;
}

.aboutme-title a {
  width: 153px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  order: 2;
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutme-grid {
  position: absolute;
  top: 478px;
  width: 327px;
  height: 998px;
  left: 24px;
}

.aboutmeoutline {
  position: absolute;
  width: 327px;
  height: 998px;
  display: grid;
  gap: 24px;
}

.aboutitem {
  list-style-type: none;
  width: 327px;
  background: #ebf0ee;
  border: 3px solid #c1c7d0;
  border-radius: 8px;
  transition: 0.5s ease-out;
}

.aboutme-head {
  width: 327px;
  height: 128px;
}

.title-tags {
  width: 327px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: absolute;
}

.title-tags h4 {
  width: 327px;
  height: 32px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.tags {
  width: 278px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tags ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.tags li {
  list-style-type: none;
  padding: 12px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  color: #36b37e;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.skills {
  width: 293px;
  height: 88px;
}

/* contact me section */
.contact-me {
  width: 375px;
  height: 879px;
  position: absolute;
  top: 5374px;
  display: flex;
  flex-direction: column;
  padding: 64px 24px;
  gap: 38px;
  background: url('./media/illustration-contact-form.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.contactme-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 327px;
  height: 363px;
  color: #172b4d;
}

.cont-text {
  position: absolute;
  width: 327px;
  left: 27px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  text-align: center;
  font-size: 40px;
}

.form-outline {
  width: 327px;
  height: 330px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

::placeholder {
  width: 295px;
  height: 18px;
  position: absolute;
  top: 15px;
  left: 16px;
  font-weight: 400;
  font-size: 15px;
  color: #6b778c;
  font-family: 'Inter', sans-serif;
  font-style: italic;
}

input {
  width: 327px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #6b778c;
  transition: width 0.7s;
}

textarea {
  width: 327px;
  height: 114px;
  border: 1px solid #36b37f;
  border-radius: 4px;
}

textarea::placeholder {
  width: 303px;
  height: 90px;
  position: absolute;
  left: 12px;
  top: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #42526e;
}

#submitbutton {
  width: 129px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  flex: none;
  order: 3;
  border: none;
  color: #fff;
  font-size: 17px;
  text-align: center;
  transition: 0.25s;
}

.email-div {
  width: 327px;
  height: 38px;
  position: absolute;
  bottom: 10px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

/* footer section */
.footerbar {
  width: 375px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 6240px;
}

.footer-socials {
  width: 375px;
  height: 48px;
}

.footer-socials ul {
  position: absolute;
  width: 170.17px;
  height: 19.62px;
  left: 105px;
  display: flex;
  justify-content: space-between;
}

.footer-socials li {
  list-style-type: none;
}

.sentence-break {
  display: none;
}

/* animations and transitions */
.logo:hover {
  transform: rotate(360deg);
}

.social-item:hover {
  transform: scale(1.3);
}

.down-action a:hover,
.down-action a:focus {
  box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
  border-radius: 50%;
}

.card-img:hover {
  transform: scale(1.1);
  box-shadow: rgba(54, 179, 127, 0.4) -5px 5px, rgba(54, 179, 127, 0.3) -10px 10px, rgba(54, 179, 127, 0.2) -15px 15px;
}

.resume:hover {
  border: 2px solid #172b4d;
  transform: scale(1.2);
}

input:hover {
  width: 100%;
  border-bottom: 2px solid #172b4d;
}

.aboutitem:hover {
  border-color: #36b37e;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

#submitbutton:hover {
  box-shadow: inset 7.5em 0 0 0 #fff;
  color: #36b37e;
  border: 2px solid #36b37e;
  font-size: 20px;
}

/* breakpoint at 768px */
@media (min-width: 768px) {
  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    background: transparent;
    justify-content: center;
  }

  .main-background {
    background: url('./desktopMedia/Header-llustration-desktop.svg');
    background-size: cover;
    background-position: top auto;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .toolbar {
    width: 100%;
    height: 72px;
    position: fixed;
    display: flex;
    justify-content: center;
  }

  .logo-hamburger {
    display: none;
  }

  .desk-navbar {
    width: 100%;
    height: 72px;
    display: flex;
    position: absolute;
    justify-content: center;
  }

  .navbarlist {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 255px;
    height: 40px;
    position: absolute;
    top: 16px;
  }

  .navbarlist li {
    padding: 10px 12px;
    gap: 10px;
    height: 40px;
    transition: all 0.4s ease-out;
  }

  .navbarlist li a {
    text-decoration: none;
    font-family: var(--normal-font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .desk-headline {
    width: 100%;
    height: 756px;
    position: absolute;
    background: transparent;
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    justify-content: center;
  }

  .headline {
    background: none;
    width: 100%;
    top: 160px;
    height: 310px;
    justify-content: center;
    align-items: center;
  }

  .text {
    width: 80%;
    left: inherit;
    text-align: center;
  }

  h1,
  h2 {
    font-size: 48px;
    color: #172b4d;
  }

  /* primary text */
  .primary {
    top: 0;
    height: 114px;
    line-height: 60px;
  }

  .breakline {
    display: none;
  }

  .sentence-break {
    display: flex;
  }

  /* secondary text */
  .secondary {
    top: 142px;
    height: 96px;
    line-height: 32px;
  }

  /* socials */
  .socials {
    width: 100%;
    height: 20px;
    top: 292px;
    left: inherit;
  }

  .socials ul {
    width: 200px;
    height: 40px;
  }

  .social-item {
    width: 40px;
    height: 40px;
    top: 0;
    bottom: 0;
  }

  #fone,
  #one {
    order: 3;
  }

  #ftwo,
  #two {
    order: 1;
  }

  #fthree,
  #three {
    order: 4;
  }

  #ffour,
  #four {
    order: 0;
  }

  #ffive,
  #five {
    order: 2;
  }

  .down-action {
    width: 100%;
    height: 114px;
    top: 492px;
    left: inherit;
    align-items: center;
  }

  .works-about-contact {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 710px;
  }

  .works {
    width: 100%;
    height: 1244px;
    order: 0;
    top: 140px;
    left: inherit;
  }

  .works-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .works-title {
    order: 0;
    width: 100%;
    height: 176px;
    left: inherit;
  }

  hr {
    display: none;
  }

  .works-grid {
    width: 100%;
    height: 988px;
    grid-template-columns: 27% 27% 27%;
    grid-template-rows: 474px 474px;
    gap: 24px;
    top: 176px;
    justify-content: center;
    order: 1;
  }

  .works-item {
    width: 100%;
    height: 100%;
  }

  .works-item .card-img {
    width: 27%;
  }

  .card-detail {
    width: 100%;
    height: 266px;
  }

  .card-main {
    width: 100%;
    font-size: 20px;
    order: 0;
    justify-content: center;
  }

  .langlist {
    order: 1;
    width: 100%;
    height: 32px;
  }

  .lang-list ul {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-button {
    width: 100%;
    order: 2;
    top: 170px;
    display: flex;
    justify-content: center;
    left: 0;
  }

  #seeproject {
    left: 0;
    position: static;
  }

  .lang-list li {
    padding: 6px 10px;
    border-radius: 3px;
  }

  .lang-list li a {
    font-size: 9px;
  }

  .about-me {
    width: 100%;
    height: 100%;
    padding: 80px 0 1px 0;
    order: 1;
    top: 1354px;
    background: url('./desktopMedia/illustration-about-me-2-desktop.svg'), url('./desktopMedia/illustration\ about\ me\ desktop.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: -52px 220px, top right;
    display: flex;
    justify-content: center;
  }

  .aboutme-container {
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
    justify-content: center;
  }

  .aboutme-title {
    top: 64px;
    width: 100%;
    height: 240px;
    background: transparent;
    justify-content: center;
    left: inherit;
  }

  .aboutme-text {
    width: 78%;
    height: 96px;
  }

  .aboutme-grid {
    width: 100%;
    height: 355px;
    top: 400px;
    left: inherit;
    display: flex;
    justify-content: center;
  }

  .aboutmeoutline {
    left: 0;
    justify-content: center;
    width: 100%;
    height: 100%;
    grid-template-rows: 316px;
    grid-template-columns: 29% 29% 29%;
  }

  .aboutitem {
    width: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
  }

  .item-head {
    width: 100%;
    height: 100%;
  }

  .item-head img {
    width: 100%;
    height: 100%;
  }

  .aboutitem .title-tags {
    width: 29%;
  }

  .skills {
    height: 100px;
  }

  .aboutitem .title-tags h4,
  .tags,
  .aboutme-item {
    width: 100%;
  }

  .tags ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }

  .tagsul li {
    height: 30px;
    padding: 8px;
    font-size: 9px;
    border-radius: 4px;
  }

  .contact-me {
    width: 100%;
    height: 100%;
    padding: 80px 11.5%;
    flex-direction: row;
    gap: 24px;
    order: 2;
    top: 2223px;
    background: url('./desktopMedia/illustration-1-contact-form-desktop.svg'), url('./desktopMedia/illustration-2-contact-form-desktop@2x.svg'), url('./desktopMedia/contact\ form-illustratoin-3-desktop.svg');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom left, 280px 480px, bottom right;
    justify-content: center;
  }

  .contactme-text {
    width: 100%;
    height: 256px;
  }

  .cont-text {
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: 700;
    line-height: 52px;
    position: static;
    display: flex;
    align-items: center;
  }

  .form-outline {
    width: 100%;
    height: 330px;
  }

  form {
    justify-content: flex-start;
    align-items: flex-start;
  }

  input {
    width: 100%;
    height: 48px;
  }

  textarea {
    width: 100%;
    height: 114px;
  }

  #submitbutton {
    text-align: none;
  }

  .email-div {
    display: none;
  }

  .footerbar {
    width: 100%;
    height: 72px;
    bottom: 0;
    top: 3690px;
    border-top: 1px solid #dfe1e6;
  }

  .footer-socials {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-socials ul {
    position: static;
    width: 200px;
    height: 40px;
    align-items: center;
  }

  /* transitions */
  .navbarlist li:hover {
    background: #36b37e;
    border-radius: 4px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
  }
}

@media (min-width: 1028px) {
  .main-background {
    background: url('./desktopMedia/Header-llustration-desktop.svg');
    background-position: center center;
    background-repeat: no-repeat;
  }

  .secondary {
    width: 51.5%;
    text-align: center;
  }

  /* works grid */
  .works-grid {
    grid-template-columns: 27% 27% 27%;
    grid-template-rows: 454px 454px;
    gap: 54px;
    top: 176px;
    justify-content: center;
    order: 1;
  }

  .tags li {
    height: 40px;
    border-radius: 8px;
    font-size: 12px;
    letter-spacing: 0.03em;
  }
  
  .card-detail {
    height: 222px;
  }

  .card-main {
    font-size: 24px;
  }

  .lang-list li {
    padding: 8px 12px;
    border-radius: 4px;
  }

  .lang-list a {
    font-size: 14px;
  }

  .card-button {
    top: 160px;
  }
}
